.btn {
  display: inline-block;
  outline: none;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  color: $white;

  display: flex;
  height: 70px;
  min-height: 70px;
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: white;
  border: 1px solid white;
  transition: background-color 0.35s, border 0.35s;

  font-size: 3.2rem;
  line-height: 3.8rem;
  letter-spacing: 0.17px;

  &-outline {
    border: 1px solid $white;
  }

  &:active,
  &:focus {
    background: $primary;
    border: transparent;
  }
}
