<template>
  <div class="page bg-blue">
    <div>
      <h1 class="title-bg"><b>404 Page not found</b></h1>

      <router-link to="/" class="btn btn-outline">Go Home</router-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.page {
  direction: ltr;

  a {
    margin-top: 5rem;
  }
}
</style>
