<template>
  <div class="home bg-blue">
    <router-link to="/quiz/1" class="btn btn-outline">Start Quiz</router-link>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
};
</script>

<style scoped lang="scss"></style>
