<template>
  <transition
    mode="out-in"
    enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
  >
    <div class="background" :key="currentQuestion">
      <div
        class="quiz-container background-img"
        :style="`background-image: url(${bgImage}) `"
      ></div>

      <div class="content">
        <!-- <header>this is the header</header> -->
        <main>
          <div class="question-area">
            <!---
            <div class="current-question">
              <p>{{ currentQuestion }}/ {{ questions.length }} Question</p>
            </div>
          -->
            <h1 class="title-bg" v-html="question.question" />

            <div class="options">
              <button
                class="btn btn-outline"
                v-for="option in question.options"
                :key="option"
                @click="
                  selectedOption({ question_id: question.id, answer: option })
                "
              >
                {{ option }}
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Quiz",
  computed: {
    ...mapState(["currentQuestion", "questions", "answers"]),
    bgImage() {
      return require(`../assets/questions/question-${this.currentQuestion}.jpg`);
    },
    question() {
      return this.questions.find(
        (question) => question.id == this.$route.params.id
      );
    },
  },
  methods: {
    ...mapMutations(["SET_CURRENT_QUESTION", "SET_ANSWER"]),
    selectedOption(answer) {
      this.SET_ANSWER(answer);
      // console.log(this.answers)
      this.nextQuestion();
    },
    nextQuestion() {
      const curr_id = this.currentQuestion;
      const index = this.questions.findIndex(
        (question) => question.id == curr_id
      );

      const total = this.questions.length;

      // will return to the answers page
      if (index == total - 1) return this.$router.push("/result");

      this.$router.push(`/quiz/${this.questions[index + 1].id}`);
    },
  },
  created() {
    this.SET_CURRENT_QUESTION(this.$route.params.id);
  },
  watch: {
    "$route.params.id"(val, old) {
      if (val !== old) this.SET_CURRENT_QUESTION(val);
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  // background-color: #345ccd;

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    animation-name: zooming;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier 0.35, 0, 0.65, 1;
    background-color: #5184ed;
    background-blend-mode: soft-light;
  }

  .content {
    position: relative;
    height: 100%;
    width: 100%;

    header {
      min-height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    main {
      height: 100%;

      display: grid;
      place-items: center;

      .question-area {
        max-width: 1130px;
        padding: 0 45px;
        margin: 0 auto;

        .current-question {
          margin-bottom: 3rem;
          text-align: center;

          p {
            font-size: 3.2rem;
            line-height: 3.8rem;
            letter-spacing: 0.17px;
            color: #fff;
          }
        }

        .options {
          margin-top: 4rem;

          display: flex;
          align-items: center;
          justify-content: center;

          flex-wrap: wrap;

          .btn {
            margin: 1rem;
            min-width: 150px;
          }
        }
      }
    }
  }
}

@keyframes zooming {
  0% {
    transform: scale(1);
  }
  47.5% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.15);
  }
  97.5% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
</style>
