<template>
  <loader :loading="loading">
    <div class="bg-blue">
      <div class="content">
        <h1 class="title-bg">Quizes List</h1>

        <table class="table  table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">id</th>
              <th scope="col">Date</th>
              <th scope="col">Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(quiz, index) in qizzList" :key="quiz.id">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ quiz.id }}</td>
              <td>{{ quiz.created_at }}</td>
              <td>
                <router-link
                  :to="`/quiz-detail/${quiz.id}`"
                  class="btn btn-primary"
                  >View Details</router-link
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </loader>
</template>

<script>
import firestore from "@/firebase";
import moment from "moment";
export default {
  name: "QuizList",
  data() {
    return {
      qizzList: [],
      loading: true,
    };
  },
  async created() {
    const resp = await firestore.collection("quiz-list").get();
    resp.docs.forEach((doc) => {
      let id = doc.id;
      let data = doc.data();
      data.created_at = moment(data.created_at).format("lll");
      data.id = id;
      this.qizzList.push(data);
    });
    this.loading = false;
  },
};
</script>

<style lang="scss" scoped>
.bg-blue {
  display: block;
  padding-top: 4rem;
  direction: ltr;
}

.content {
  max-width: 1130px;
  padding: 0 45px;
  margin: 0 auto;
}

.btn {
  height: auto;
  min-height: auto;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  line-height: 2rem;
}
</style>
