<template>
  <div class="bg-blue">
    <div class="content">
      <div class="main-title">
        <h1 class="title-bg"><b> الحزب الذي يناسب طموحك</b></h1>
      </div>

      <div class="items">
        <div class="item">
          <div class="count-down">
            <Number
              ref="number1"
              :from="0"
              :to="62"
              :duration="3"
              :delay="1"
              easing="Power1.easeOut"
            />
          </div>

          <div class="detail">
            <div class="details">
              <h2 class="heading"><span> فتح </span></h2>
              <p class="text-primary">
                ثورة حتي النصر
              </p>
            </div>
            <div class="person">
              <img src="@/assets/images/fatahlogo.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="items">
        <div class="item">
          <div class="count-down">
            <Number
              ref="number1"
              :from="0"
              :to="38"
              :duration="3"
              :delay="1"
              easing="Power1.easeOut"
            />
          </div>

          <div class="detail">
            <div class="details">
              <h2 class="heading"><span> حماس </span></h2>
              <p class="text-primary">
                حركة المقاومة الاسلامية
              </p>
            </div>
            <div class="person">
              <img src="@/assets/images/Hamas_logo.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="btns">
        <router-link to="/" class="btn btn-outline"> Retry </router-link>

        <div class="share-icons">
          <a href="#" class="btn btn-outline">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="#" class="btn btn-outline">
            <i class="fab fa-twitter"></i>
          </a>

          <a href="#" class="btn btn-outline">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="#" class="btn btn-outline">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Number from "@/components/Number";
import firestore from "@/firebase";
export default {
  name: "Result",
  components: { Number },
  computed: {
    ...mapState(["answers", "questions"]),
  },
  data() {
    return {
      counters: [73, 27],
    };
  },
  async created() {
    if (!this.answers.length) return this.$router.push("/");
    else {
      try {
        const questions = this.questions.map((question) => {
          const ans = this.answers.find(
            (answer) => answer.question_id == question.id
          );
          question.answer = ans.answer;
          return question;
        });
        await firestore.collection("quiz-list").add({
          created_at: Date.now(),
          questions,
        });
        console.log("result saved...lol");
      } catch (error) {
        console.log(error);
      }
    }
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/variables.scss";
.content {
  max-width: 1130px;
  padding: 0 45px;
  margin: 0 auto;

  .title-bg {
    font-size: 6rem;
    text-align: center;
  }

  .items {
    margin: 2rem 0;

    .item {
      display: grid;
      grid-template-columns: 180px 1fr;
      margin-bottom: 1.5rem;

      .count-down {
        display: grid;
        place-items: center;
        background: $white;
        h1 {
          color: $primary;
          font-size: 6.5rem;
          line-height: 1;
        }
      }
      .detail {
        padding: 1.5rem;
        padding-right: 2rem;
        padding-left: 0;
        background: $bg-color-2;
        display: flex;
        align-items: center;
        min-width: 404px;

        .details {
          height: 100%;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h2.heading {
          font-size: 4rem;
          line-height: 1.1;
          color: $primary;

          span {
            font-size: 2.8rem;
            line-height: 1.1;
          }
        }

        p.text-primary {
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: $primary;
        }

        .person {
          max-height: 150px;
          padding-right: 1rem;
          width: 225px;
          text-align: center;
          img {
            max-width: 60%;
            height: auto;
            position: relative;
            bottom: -6px;
          }
        }
      }
    }
  }

  .btns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .share-icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .btn {
        width: 0px;
        margin-right: 1rem;
      }
    }
  }
}
</style>
