<template>
  <loader :loading="loading">
    <div class="bg-blue">
      <div class="content">
        <!-- <h1>Quiz Details</h1> -->
        <router-link to="/quiz-list" class="text-white">Go Back</router-link>
        <div v-if="quiz" class="mt-3">
          <div
            class="card text-white bg-primary mb-3"
            v-for="question in quiz.questions"
            :key="question.id"
          >
            <div class="card-body">
              <h1 class="card-title" v-html="question.question"></h1>
              <div class="card-text options">
                <button
                  class="options-btn"
                  :class="question.answer === option ? 'active' : ''"
                  v-for="option in question.options"
                  :key="option"
                >
                  {{ option }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </loader>
</template>

<script>
import firestore from "@/firebase";

export default {
  name: "SingleQuiz",
  data() {
    return {
      quiz: null,
      loading: true,
    };
  },
  async created() {
    try {
      const resp = await firestore
        .collection("quiz-list")
        .doc(this.$route.params.id)
        .get();

      const doc = resp.data();
      doc.id = resp.id;
      this.quiz = doc;
      this.loading = false;
    } catch (err) {
      this.loading = false;
      console.log(err);
    }
  },
};
</script>

<style lang="scss" scoped>
.bg-blue {
  display: block;
  padding-top: 4rem;
  direction: rtl;
  overflow-x: hidden;
}

.content {
  max-width: 1130px;
  padding: 0 45px;
  margin: 0 auto;

  h1 {
    text-align: right;
  }
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .options-btn {
    display: inline-block;
    outline: none;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.17px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    margin: 1rem;

    &.active {
      border: none;
      background: #06165a;
    }
  }
}
</style>
