@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --animate-duration: 500ms;
  --animate-delay: 0.5s;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  direction: rtl;
  overflow-x: hidden;
}

.title-bg {
  font-size: 7rem;
  line-height: 10.6rem;
  letter-spacing: -1.12px;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .title-bg {
    font-size: 5.2rem;
    line-height: 6rem;
    letter-spacing: -0.58px;
  }
}
.title-bg b {
  display: inline;
  padding: 0 10px;
  font-weight: normal;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    #0c227f 50%
  );
  background-position: 0 0;
  animation-name: subtitle;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes subtitle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.bg-blue {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $bg-color;
  display: grid;
  place-items: center;
}
.background .content main .question-area .options .btn {
  font-family: "Tajawal";
}
